<!--Contact-->
<div class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-6  col-md-12">
                <div class="map1">
                    <div class="map-header-layer" id="map2"></div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-md-12">
                <div class="card mb-0">
                    <div class="card-body">
                        <form [formGroup]="contactForm" (submit)="onSend(contactForm.value)">
                            <div class="form-group">
                                <input type="text" formControlName="title" class="form-control" id="title" placeholder="Message Title">
                            </div>
                            <div class="form-group">
                                <input type="number" formControlName="phone" class="form-control" id="phone" placeholder="Phone Number">
                            </div>
                            <div class="form-group">
                                <textarea formControlName="mess" class="form-control" name="example-textarea-input" rows="6"
                                    placeholder="Message"></textarea>
                            </div>
                            <div class="submit">
                                <button  type="submit" class="btn btn-primary btn-block">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Contact-->