<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="wideget-user">
                    <div class="row">
                        <div class="col-md-12 jumbotron">
                            <h1>  يجب ان تحتوي علي ملخص عن اقرب الندوات  </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="wideget-user-tab">
                    <div class="tab-menu-heading">
                        <div class="tabs-menu1">
                            <ul class="nav">
                                <li class=""><a href="#tab-51" class="active" data-toggle="tab">{{'Forex Market Analysis' |translate}}</a>
                                </li>
                                <li><a href="#tab-61" data-toggle="tab" class="">{{"Commodity Analysis"|translate}}</a></li>
                                <li><a href="#tab-71" data-toggle="tab" class="">{{"CryptoCurrency Analysis"|translate}}</a></li>
                                <li><a href="#tab-81" data-toggle="tab" class="">{{"Stock Market Shares"|translate}}</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="border-0">
                    <div class="tab-content">


                        <div class="tab-pane active" id="tab-51">
                            <div id="profile-log-switch">
                                <div class="media-heading">
                                    <h3>{{'Forex Market Analysis' |translate}}</h3>
                                </div>
                                <section *ngFor="let forex of ForexMarketAnalysis" class="sptb">
                                    <div class="container">
                                        <div class="row">
                                            <div class="d-block mx-auto col-lg-8 col-md-12">
                                                <div class="card blog-detail">
                                                    <div class="card-body">
                                                        <div class="item7-card-img">
                                                            <img src="{{imageHost+forex.image}}" alt="img"
                                                                class="w-100">
                                                            <div class="item7-card-text">
                                                                <a href="{{forex.youtube_url}}" target="_blank">
                                                                    <span class="btn badge badge-danger">Youtube</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="item7-card-desc d-flex mb-2 mt-3">
                                                            <a class="text-muted"><i
                                                                    class="fa fa-calendar-o ml-2"></i>{{forex.createdOn}}</a>
                                                            <a class="text-muted"><i
                                                                    class="fa fa-user-o text-muted ml-2"></i>{{forex.publisher}}</a>
                                                            <div class="mr-auto">
                                                                <a href="#" class="text-muted"><i
                                                                        class="fa fa-comment-o ml-2"></i>2
                                                                    Comments</a>
                                                            </div>
                                                        </div>
                                                        <a class="text-dark">
                                                            <h2 class="font-weight-semibold">{{forex.titleA}}</h2>
                                                        </a>
                                                        <p>{{forex.descA}}</p>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <hr>
                        </div>

                        <div class="tab-pane active" id="tab-61">
                            <div id="profile-log-switch">
                                <div class="media-heading">
                                    <h3>{{"Commodity Analysis"|translate}}</h3>
                                </div>
                                <section *ngFor="let Commodit of CommodityAnalysis" class="sptb">
                                    <div class="container">
                                        <div class="row">
                                            <div class="d-block mx-auto col-lg-8 col-md-12">
                                                <div class="card blog-detail">
                                                    <div class="card-body">
                                                        <div class="item7-card-img">
                                                            <img src="{{imageHost+Commodit.image}}" alt="img"
                                                                class="w-100">
                                                            <div class="item7-card-text">
                                                                <a href="{{Commodit.youtube_url}}" target="_blank">
                                                                    <span class="btn badge badge-danger">Youtube</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="item7-card-desc d-flex mb-2 mt-3">
                                                            <a class="text-muted"><i
                                                                    class="fa fa-calendar-o ml-2"></i>{{Commodit.createdOn}}</a>
                                                            <a class="text-muted"><i
                                                                    class="fa fa-user-o text-muted ml-2"></i>{{Commodit.publisher}}</a>
                                                            <div class="mr-auto">
                                                                <a class="text-muted"><i
                                                                        class="fa fa-comment-o ml-2"></i>2
                                                                    Comments</a>
                                                            </div>
                                                        </div>
                                                        <a class="text-dark">
                                                            <h2 class="font-weight-semibold">{{Commodit.titleA}}</h2>
                                                        </a>
                                                        <p>{{Commodit.descA}}</p>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <hr>
                        </div>

                        <div class="tab-pane active" id="tab-71">
                            <div id="profile-log-switch">
                                <div class="media-heading">
                                    <h3>{{"CryptoCurrency Analysis"|translate}}</h3>
                                </div>
                                <section *ngFor="let Crypto of CryptocurrencyAnalysis" class="sptb">
                                    <div class="container">
                                        <div class="row">
                                            <div class="d-block mx-auto col-lg-8 col-md-12">
                                                <div class="card blog-detail">
                                                    <div class="card-body">
                                                        <div class="item7-card-img">
                                                            <img src="{{imageHost+Crypto.image}}" alt="img"
                                                                class="w-100">
                                                            <div class="item7-card-text">
                                                                <a href="{{Crypto.youtube_url}}" target="_blank">
                                                                    <span class="btn badge badge-danger">Youtube</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="item7-card-desc d-flex mb-2 mt-3">
                                                            <a class="text-muted"><i
                                                                    class="fa fa-calendar-o ml-2"></i>{{Crypto.createdOn}}</a>
                                                            <a class="text-muted"><i
                                                                    class="fa fa-user-o text-muted ml-2"></i>{{Crypto.publisher}}</a>
                                                            <div class="mr-auto">
                                                                <a class="text-muted"><i
                                                                        class="fa fa-comment-o ml-2"></i>2
                                                                    Comments</a>
                                                            </div>
                                                        </div>
                                                        <a class="text-dark">
                                                            <h2 class="font-weight-semibold">{{Crypto.titleA}}</h2>
                                                        </a>
                                                        <p>{{Crypto.descA}}</p>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <hr>
                        </div>

                        <div class="tab-pane active" id="tab-81">
                            <div class="media-heading">
                                <h3>{{"Stock Market Shares"|translate}}</h3>
                            </div>
                            <!-- <section *ngFor="let Crypto of CryptocurrencyAnalysis" class="sptb">
                                <div class="container">
                                    <div class="row">
                                        <div class="d-block mx-auto col-lg-8 col-md-12">
                                            <div class="card blog-detail">
                                                <div class="card-body">
                                                    <div class="item7-card-img">
                                                        <img src="{{imageHost+Crypto.image}}" alt="img" class="w-100">
                                                        <div class="item7-card-text">
                                                            <a href="{{Crypto.youtube_url}}" target="_blank">
                                                                <span class="btn badge badge-danger">Youtube</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="item7-card-desc d-flex mb-2 mt-3">
                                                        <a class="text-muted"><i
                                                                class="fa fa-calendar-o ml-2"></i>{{Crypto.createdOn}}</a>
                                                        <a class="text-muted"><i
                                                                class="fa fa-user-o text-muted ml-2"></i>{{Crypto.publisher}}</a>
                                                        <div class="mr-auto">
                                                            <a class="text-muted"><i class="fa fa-comment-o ml-2"></i>2
                                                                Comments</a>
                                                        </div>
                                                    </div>
                                                    <a class="text-dark">
                                                        <h2 class="font-weight-semibold">{{Crypto.titleA}}</h2>
                                                    </a>
                                                    <p>{{Crypto.descA}}</p>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                   
                                </div>
                            </section> -->
                            <div class="jumbotron">
                                <h1>Stock Market Shares</h1>
                                <h1>SOON</h1>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>