<!--Section-->
 <div class="banner-1" style="background-color: #4b5d73;">
<!-- <div class="banner-1 cover-image" style="background-image: url('../../../assets/images/tdawl.jpeg');"> -->
    <!-- <img src="../../../assets/images/eLt07.jpg" alt="Girl in a jacket" width="500" height="600"> -->

    <section>
        <div class="sptb-2 sptb-tab">
            <div class="header-text mb-0">
                <div class="container">
                    <div class="text-center text-white mb-7">
                        <h1 class="mb-1">{{ "HOME" |translate}}</h1>
                        <p>It is a long established fact that a reader will be distracted by the readable.</p>
                    </div>
                    <div class="row">
                        <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
                            <div class="search-background bg-transparent">
                                <div class="form row no-gutters ">
                                    <div class="form-group  col-xl-4 col-lg-3 col-md-12 mb-0 bg-white ">
                                        <input type="text" class="form-control input-lg br-tr-md-0 br-br-md-0"
                                            id="text4" placeholder="Search Courses.....">
                                    </div>
                                    <div class="form-group  col-xl-3 col-lg-3 col-md-12 mb-0 bg-white">
                                        <input type="text" class="form-control input-lg br-md-0" id="text5"
                                            placeholder="Enter Location">
                                        <span><i class="fa fa-map-marker location-gps mr-1"></i></span>
                                    </div>
                                    <div class="form-group col-xl-3 col-lg-3 col-md-12 select2-lg  mb-0 bg-white">
                                        <select class="form-control select2-show-search  border-bottom-0"
                                            data-placeholder="Select Category">
                                            <optgroup label="Categories">
                                                <option>Select</option>
                                                <option value="1">IT</option>
                                                <option value="2">Language</option>
                                                <option value="3">Science</option>
                                                <option value="4">Health</option>
                                                <option value="5">Humanities</option>
                                                <option value="6">Business</option>
                                                <option value="7">Math</option>
                                                <option value="8">Marketing</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-12 mb-0">
                                        <a href="#"
                                            class="btn btn-lg btn-block btn-primary br-tl-md-0 br-bl-md-0">Search
                                            Here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Section-->
</div>
<!--/Section-->

<!-- Crypto currencies -->

<div class="app-content my-3 my-md-5">
    <div class="side-app">
        <div class="page-header">
            <h4 class="page-title">Crypto currencies</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Crypto currencies</li>
            </ol>
        </div>

     
        <div class="card mt-5">
            <div class="table-responsive">
                <table class="table card-table ">
                    <thead class="bg-primary text-white">
                        <tr class="border-bottom text-white">
                            <th class="text-white font-weight-normal">Name</th>
                            <th class="text-white font-weight-normal">Icon</th>
                            <th class="text-white font-weight-normal">Price</th>
                            <th class="text-white font-weight-normal">% 24h</th>
                            <th class="text-white font-weight-normal">Market Cap</th>
                            <th class="text-white font-weight-normal">Circulating Supply</th>
                            <th class="text-white font-weight-normal">Volume 24H</th>
                            <th class="text-white font-weight-normal">CMGR/Month</th>
                            <th class="text-white font-weight-normal">Inflation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-bottom">
                            <td>Dash</td>
                            <td><img src="../assets/images/crypto-currencies/dash.svg" alt="Dash" class="w-4 h-4"></td>

                            <td>$747.222</td>
                            <td class="text-red">-8%</td>
                            <td class="">$5,881,413,815</td>
                            <td>7,833,738 DASH</td>
                            <td class="">$96,147,900</td>
                            <td>19.19% / 47</td>
                            <td class="text-left">0.81%</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>Monero</td>
                            <td><img src="../assets/images/crypto-currencies/monero.svg" alt="" class="w-4 h-4"></td>
                            <td>$305.16</td>
                            <td class="text-red">-11%</td>
                            <td class="">$4,778,157,533</td>
                            <td>15,633,286 XMR</td>
                            <td class="">$100,788,000</td>
                            <td>11.88% / 44</td>
                            <td class="text-left">0.78%</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>TRON</td>
                            <td><img src="../assets/images/crypto-currencies/tron.svg" alt="" class="w-4 h-4"></td>
                            <td>$0.067691</td>
                            <td class="text-red">-5%</td>
                            <td class="">$4,450,560,896</td>
                            <td>65,748,193,280 TRX</td>
                            <td class="">$581,651,000</td>
                            <td>142.69% / 4</td>
                            <td class="text-left">0.00%</td>
                        </tr>
                        <tr>
                            <td>Bitcoin Gold</td>
                            <td><img src="../assets/images/crypto-currencies/bitcoinglod.svg" alt="" class="w-4 h-4"></td>
                            <td>$181.39</td>
                            <td class="text-red">-7%</td>
                            <td class="">$3,084,108,676</td>
                            <td>16,779,700 BTG</td>
                            <td class="">$199,652,000</td>
                            <td>-25.44% / 3</td>
                            <td class="text-left">0.34%</td>
                        </tr>

                        <tr class="border-bottom">
                            <td>Bitcoin</td>
                            <td><img src="../assets/images/crypto-currencies/bitcoin.svg" alt="Bitcoin" class="w-4 h-4"></td>
                            <td>$10513.00</td>
                            <td class="text-red">-7%</td>
                            <td class="">$179,470,305,923</td>
                            <td>16,819,612 BTC</td>
                            <td class="">$9,578,830,000</td>
                            <td>8.11% / 57</td>
                            <td class="text-left">0.36%</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>Ethereum</td>
                            <td><img src="../assets/images/crypto-currencies/ethereum.svg" alt="Ethereum" class="w-4 h-4"></td>
                            <td>$966.61</td>
                            <td class="text-red">-6%</td>
                            <td class="">$95,270,125,036</td>
                            <td>97,145,024 ETH</td>
                            <td class="">$3,466,060,000</td>
                            <td>22.62% / 29</td>
                            <td class="text-left">0.64%</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>Ripple</td>
                            <td><img src="../assets/images/crypto-currencies/ripple.svg" alt="Ripple" class="w-4 h-4"></td>
                            <td>$1.2029</td>
                            <td class="text-red">-11%</td>
                            <td class="">$47,649,145,657</td>
                            <td>38,739,144,704 XRP</td>
                            <td class="">$2,081,450,000</td>
                            <td>10.85% / 53</td>
                            <td class="text-left">0.06%</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>Bitcoin Cash</td>
                            <td><img src="../assets/images/crypto-currencies/bitcoincash.svg" alt="Bitcoin" class="w-4 h-4"></td>
                            <td>$1547.00</td>
                            <td class="text-red">-11%</td>
                            <td class="">$26,720,210,956</td>
                            <td>16,925,988 BCH</td>
                            <td class="">$598,337,000</td>
                            <td>21.30% / 6</td>
                            <td class="text-left">0.32%</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>Cardano</td>
                            <td><img src="../assets/images/crypto-currencies/cardano.svg" alt="Cardano" class="w-4 h-4"></td>
                            <td>$0.550768</td>
                            <td class="text-red">-9%</td>
                            <td class="">$14,279,800,786</td>
                            <td>25,927,069,696 ADA</td>
                            <td class="">$466,381,000</td>
                            <td>205.35% / 3</td>
                            <td class="text-left">0.00%</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>Litecoin</td>
                            <td><img src="../assets/images/crypto-currencies/litecoin.svg" alt="Litecoin" class="w-4 h-4"></td>
                            <td>$173.86</td>
                            <td class="text-red">-7%</td>
                            <td class="">$9,670,920,267</td>
                            <td>54,873,584 LTC</td>
                            <td class="">$430,524,000</td>
                            <td>6.87% / 57</td>
                            <td class="text-left">0.80%</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>EOS</td>
                            <td><img src="../assets/images/crypto-currencies/eos.svg" alt="EOS" class="w-4 h-4"></td>
                            <td>$13.394</td>
                            <td class="text-green">5%</td>
                            <td class="">$8,420,143,033</td>
                            <td>621,412,800 EOS</td>
                            <td class="">$2,864,780,000</td>
                            <td>53.25% / 6</td>
                            <td class="text-left">11.56%</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>NEM</td>
                            <td><img src="../assets/images/crypto-currencies/nem.svg" alt="NEM" class="w-4 h-4"></td>
                            <td>$0.935049</td>
                            <td class="text-red">-11%</td>
                            <td class="">$8,415,440,999</td>
                            <td>8,999,999,488 XEM</td>
                            <td class="">$66,061,000</td>
                            <td>26.99% / 33</td>
                            <td class="text-left">0.24%</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>Stellar</td>
                            <td><img src="../assets/images/crypto-currencies/stellar.svg" alt="Bitcoin" class="w-4 h-4"></td>
                            <td>$0.467813</td>
                            <td class="text-green">2%</td>
                            <td class="">$8,358,735,080</td>
                            <td>17,867,683,840 XLM</td>
                            <td class="">$370,297,000</td>
                            <td>13.12% / 41</td>
                            <td class="text-left">0.19%</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>NEO</td>
                            <td><img src="../assets/images/crypto-currencies/neo.svg" alt="Bitcoin" class="w-4 h-4"></td>
                            <td>$118.61</td>
                            <td class="text-red">-9%</td>
                            <td class="">$7,693,400,000</td>
                            <td>65,000,000 NEO</td>
                            <td class="">$318,308,000</td>
                            <td>62.68% / 15</td>
                            <td class="text-left">0.00%</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>IOTA</td>
                            <td><img src="../assets/images/crypto-currencies/iota.svg" alt="Bitcoin" class="w-4 h-4"></td>
                            <td>$2.34</td>
                            <td class="text-red">-14%</td>
                            <td class="">$6,504,100,862</td>
                            <td>2,779,530,240 MIOTA</td>
                            <td class="">$103,132,000</td>
                            <td>23.27% / 7</td>
                            <td class="text-left">-0.02%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!--Section-->
<section class="sptb bg-white">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>Our Sponsors</h2>
            <span class="sectiontitle-design"><span class="icons"></span></span>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div id="small-categories" class="owl-carousel client-carousel">
            <div class="item">
                <div class="client-img">
                    <img src="../assets/images/clients/1.png" alt="img">
                </div>
            </div>
            <div class="item">
                <div class="client-img">
                    <img src="../assets/images/clients/2.png" alt="img">
                </div>
            </div>
            <div class="item">
                <div class="client-img">
                    <img src="../assets/images/clients/3.png" alt="img">
                </div>
            </div>
            <div class="item">
                <div class="client-img">
                    <img src="../assets/images/clients/4.png" alt="img">
                </div>
            </div>
            <div class="item">
                <div class="client-img">
                    <img src="../assets/images/clients/5.png" alt="img">
                </div>
            </div>
            <div class="item">
                <div class="client-img">
                    <img src="../assets/images/clients/6.png" alt="img">
                </div>
            </div>
            <div class="item">
                <div class="client-img">
                    <img src="../assets/images/clients/7.png" alt="img">
                </div>
            </div>
            <div class="item">
                <div class="client-img">
                    <img src="../assets/images/clients/8.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>Best Rated Locations</h2>
            <span class="sectiontitle-design"><span class="icons"></span></span>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                <div class="row">
                    <div class="col-sm-12 col-lg-6 col-md-6 ">
                        <div class="item-card overflow-hidden">
                            <div class="item-card-desc">
                                <div class="card text-center overflow-hidden">
                                    <div class="card-img">
                                        <img src="../assets/images/media/locations/3.jpg" alt="img" class="cover-image">
                                    </div>
                                    <div class="item-tags">
                                        <div class="bg-primary tag-option"><i class="fa fa fa-heart-o mr-1"></i> 689
                                        </div>
                                    </div>
                                    <div class="item-card-text">
                                        <h4 class="">44,327</h4>
                                        <span><i class="fa fa-map-marker ml-1 text-primary"></i>GERMANY</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 col-md-6 ">
                        <div class="item-card overflow-hidden">
                            <div class="item-card-desc">
                                <div class="card text-center overflow-hidden">
                                    <div class="card-img">
                                        <img src="../assets/images/media/locations/6.jpg" alt="img" class="cover-image">
                                    </div>
                                    <div class="item-tags">
                                        <div class="bg-primary tag-option"><i class="fa fa fa-heart-o mr-1"></i> 491
                                        </div>
                                    </div>
                                    <div class="item-card-text">
                                        <h4 class="">52,145</h4>
                                        <span><i class="fa fa-map-marker ml-1 text-primary"></i> LONDON</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 col-md-6 ">
                        <div class="item-card overflow-hidden">
                            <div class="item-card-desc">
                                <div class="card text-center overflow-hidden mb-xl-0">
                                    <div class="card-img">
                                        <img src="../assets/images/media/locations/1.jpg" alt="img" class="cover-image">
                                    </div>
                                    <div class="item-tags">
                                        <div class="bg-primary tag-option"><i class="fa fa fa-heart-o mr-1"></i> 729
                                        </div>
                                    </div>
                                    <div class="item-card-text">
                                        <h4 class="">63,263</h4>
                                        <span><i class="fa fa-map-marker ml-1 text-primary"></i>AUSTERLIA</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 col-md-6 ">
                        <div class="item-card overflow-hidden">
                            <div class="item-card-desc">
                                <div class="card text-center overflow-hidden mb-xl-0">
                                    <div class="card-img">
                                        <img src="../assets/images/media/locations/2.jpg" alt="img" class="cover-image">
                                    </div>
                                    <div class="item-tags">
                                        <div class="bg-primary tag-option"><i class="fa fa fa-heart-o mr-1"></i> 567
                                        </div>
                                    </div>
                                    <div class="item-card-text">
                                        <h4 class="">36,485</h4>
                                        <span><i class="fa fa-map-marker ml-1 text-primary"></i>CHICAGO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xl-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <div class="item-card overflow-hidden">
                            <div class="item-card-desc">
                                <div class="card overflow-hidden mb-0">
                                    <div class="card-img">
                                        <img src="../assets/images/media/locations/7.jpg" alt="img" class="cover-image">
                                    </div>
                                    <div class="item-tags">
                                        <div class="bg-primary tag-option"><i class="fa fa fa-heart-o mr-1"></i> 209
                                        </div>
                                    </div>
                                    <div class="item-card-text">
                                        <h4 class="">64,825</h4>
                                        <span><i class="fa fa-map-marker ml-1 text-primary"></i>CANADA</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb position-relative pattern">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2 class="text-white position-relative">Best Trainers</h2>
            <span class="sectiontitle-design"><span class="icons"></span></span>
            <p class="text-white position-relative">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="owl-carousel testimonial-owl-carousel">
                    <div class="item text-center">
                        <div class="row">
                            <div class="col-xl-8 col-md-12 d-block mx-auto">
                                <div class="testimonia">
                                    <div class="owl-controls clickable">
                                        <div class="owl-pagination">
                                            <div class="owl-page active">
                                                <span class=""></span>
                                            </div>
                                            <div class="owl-page ">
                                                <span class=""></span>
                                            </div>
                                            <div class="owl-page">
                                                <span class=""></span>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="title">Elizabeth</h3>
                                    <span class="post">Web Developer</span>
                                    <div class="rating-stars mb-3">
                                        <input type="number" readonly="readonly" class="rating-value star"
                                            name="rating-stars-value" value="4">
                                        <div class="rating-stars-container">
                                            <div class="rating-star sm is--active">
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-star sm is--active">
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-star sm is--active">
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-star sm">
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-star sm">
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-white-80">
                                        <i class="fa fa-quote-left"></i>Sed ut perspiciatis unde omnis iste natus error
                                        sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                        quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                                        fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                                        nesciunt.
                                    </p>
                                    <a href="testimonial.html" class="btn btn-primary btn-lg">View all Testimonials</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item text-center">
                        <div class="row">
                            <div class="col-xl-8 col-md-12 d-block mx-auto">
                                <div class="testimonia">
                                    <div class="owl-controls clickable">
                                        <div class="owl-pagination">
                                            <div class="owl-page ">
                                                <span class=""></span>
                                            </div>
                                            <div class="owl-page active">
                                                <span class=""></span>
                                            </div>
                                            <div class="owl-page">
                                                <span class=""></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testimonia-data">
                                        <h3 class="title">williamson</h3>
                                        <span class="post">Web Developer</span>
                                        <div class="rating-stars mb-3">
                                            <input type="number" readonly="readonly" class="rating-value star"
                                                name="rating-stars-value" value="3">
                                            <div class="rating-stars-container">
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-white-80"><i class="fa fa-quote-left"></i>But I must explain to you
                                        how all this mistaken idea of denouncing pleasure and praising pain was born and
                                        I will give you a complete account of the system, and expound the actual
                                        teachings of the great explorer of the truth, the master-builder of human
                                        happiness. </p>
                                    <a href="testimonial.html" class="btn btn-primary btn-lg">View all Testimonials</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item text-center">
                        <div class="row">
                            <div class="col-xl-8 col-md-12 d-block mx-auto">
                                <div class="testimonia">
                                    <div class="owl-controls clickable">
                                        <div class="owl-pagination">
                                            <div class="owl-page ">
                                                <span class=""></span>
                                            </div>
                                            <div class="owl-page">
                                                <span class=""></span>
                                            </div>
                                            <div class="owl-page active">
                                                <span class=""></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testimonia-data">
                                        <h3 class="title">Sophie Carr</h3>
                                        <span class="post">Web Developer</span>
                                        <div class="rating-stars mb-3">
                                            <input type="number" readonly="readonly" class="rating-value star"
                                                name="rating-stars-value" value="3">
                                            <div class="rating-stars-container">
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-white-80"><i class="fa fa-quote-left"></i>Nemo enim ipsam voluptatem
                                        quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                                        dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    <a href="testimonial.html" class="btn btn-primary btn-lg">View all Testimonials</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb bg-white">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>News</h2>
            <span class="sectiontitle-design"><span class="icons"></span></span>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div id="defaultCarousel" class="owl-carousel Card-owlcarousel owl-carousel-icons">
            <div class="item">
                <div class="card mb-0">
                    <div class="item7-card-img">
                        <a href="#"></a>
                        <img src="../assets/images/media/0-1.jpg" alt="img" class="cover-image">
                    </div>
                    <div class="card-body p-4">
                        <div class="item7-card-desc d-flex mb-2">
                            <a href="#"><i class="fa fa-calendar-o ml-2"></i>Dec-03-2018</a>
                            <div class="mr-auto">
                                <a href="#"><i class="fa fa-comment-o ml-2"></i>4 Comments</a>
                            </div>
                        </div>
                        <a href="blog-details.html" class="text-dark">
                            <h3 class="font-weight-semibold">Nemo enim ipsam voluptatem</h3>
                        </a>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo
                            consequat </p>
                        <div class="d-flex align-items-center pt-2 mt-auto">
                            <img src="../assets/images/users/male/5.jpg" class="avatar brround avatar-md ml-3"
                                alt="avatar-img">
                            <div>
                                <a href="profile.html" class="text-default">Joanne Nash</a>
                                <small class="d-block text-muted">1 day ago</small>
                            </div>
                            <div class="mr-auto text-muted">
                                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i
                                        class="fe fe-heart mr-1"></i></a>
                                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i
                                        class="fa fa-thumbs-o-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card mb-0">
                    <div class="item7-card-img">
                        <a href="#"></a>
                        <img src="../assets/images/media/0-2.jpg" alt="img" class="cover-image">
                    </div>
                    <div class="card-body p-4">
                        <div class="item7-card-desc d-flex mb-2">
                            <a href="#"><i class="fa fa-calendar-o ml-2"></i>Nov-28-2018</a>
                            <div class="mr-auto">
                                <a href="#"><i class="fa fa-comment-o ml-2"></i>2 Comments</a>
                            </div>
                        </div>
                        <a href="blog-details.html" class="text-dark">
                            <h3 class="font-weight-semibold">Sed ut perspiciatis unde iste</h3>
                        </a>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo
                            consequat </p>
                        <div class="d-flex align-items-center pt-2 mt-auto">
                            <img src="../assets/images/users/male/7.jpg" class="avatar brround avatar-md ml-3"
                                alt="avatar-img">
                            <div>
                                <a href="profile.html" class="text-default">Tanner Mallari</a>
                                <small class="d-block text-muted">2 days ago</small>
                            </div>
                            <div class="mr-auto text-muted">
                                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i
                                        class="fe fe-heart mr-1"></i></a>
                                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i
                                        class="fa fa-thumbs-o-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card mb-0">
                    <div class="item7-card-img">
                        <a href="#"></a>
                        <img src="../assets/images/media/0-3.jpg" alt="img" class="cover-image">
                    </div>
                    <div class="card-body p-4">
                        <div class="item7-card-desc d-flex mb-2">
                            <a href="#"><i class="fa fa-calendar-o ml-2"></i>Nov-19-2018</a>
                            <div class="mr-auto">
                                <a href="#"><i class="fa fa-comment-o text-muted ml-2"></i>8 Comments</a>
                            </div>
                        </div>
                        <a href="blog-details.html" class="text-dark">
                            <h3 class="font-weight-semibold">At vero eos et accusamus</h3>
                        </a>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo
                            consequat </p>
                        <div class="d-flex align-items-center pt-2 mt-auto">
                            <img src="../assets/images/users/female/15.jpg" class="avatar brround avatar-md ml-3"
                                alt="avatar-img">
                            <div>
                                <a href="profile.html" class="text-default">Aracely Bashore</a>
                                <small class="d-block text-muted">5 days ago</small>
                            </div>
                            <div class="mr-auto text-muted">
                                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i
                                        class="fe fe-heart mr-1"></i></a>
                                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i
                                        class="fa fa-thumbs-o-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card mb-0">
                    <div class="item7-card-img">
                        <a href="#"></a>
                        <img src="../assets/images/media/0-4.jpg" alt="img" class="cover-image">
                    </div>
                    <div class="card-body p-4">
                        <div class="item7-card-desc d-flex mb-2">
                            <a href="#"><i class="fa fa-calendar-o ml-2"></i>Dec-03-2018</a>
                            <div class="mr-auto">
                                <a href="#"><i class="fa fa-comment-o ml-2"></i>4 Comments</a>
                            </div>
                        </div>
                        <a href="blog-details.html" class="text-dark">
                            <h3 class="font-weight-semibold">Excepteur occaecat cupidatat</h3>
                        </a>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo
                            consequat </p>
                        <div class="d-flex align-items-center pt-2 mt-auto">
                            <img src="../assets/images/users/male/15.jpg" class="avatar brround avatar-md ml-3"
                                alt="avatar-img">
                            <div>
                                <a href="profile.html" class="text-default">Royal Hamblin</a>
                                <small class="d-block text-muted">10 days ago</small>
                            </div>
                            <div class="mr-auto text-muted">
                                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i
                                        class="fe fe-heart mr-1"></i></a>
                                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i
                                        class="fa fa-thumbs-o-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card mb-0">
                    <div class="item7-card-img">
                        <a href="#"></a>
                        <img src="../assets/images/media/0-5.jpg" alt="img" class="cover-image">
                    </div>
                    <div class="card-body p-4">
                        <div class="item7-card-desc d-flex mb-2">
                            <a href="#"><i class="fa fa-calendar-o ml-2"></i>Nov-28-2018</a>
                            <div class="mr-auto">
                                <a href="#"><i class="fa fa-comment-o ml-2"></i>2 Comments</a>
                            </div>
                        </div>
                        <a href="blog-details.html" class="text-dark">
                            <h3 class="font-weight-semibold">Sed ut perspiciatis iste</h3>
                        </a>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo
                            consequat </p>
                        <div class="d-flex align-items-center pt-2 mt-auto">
                            <img src="../assets/images/users/female/5.jpg" class="avatar brround avatar-md ml-3"
                                alt="avatar-img">
                            <div>
                                <a href="profile.html" class="text-default">Rosita Chatmon</a>
                                <small class="d-block text-muted">10 days ago</small>
                            </div>
                            <div class="mr-auto text-muted">
                                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i
                                        class="fe fe-heart mr-1"></i></a>
                                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i
                                        class="fa fa-thumbs-o-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card mb-0">
                    <div class="item7-card-img">
                        <a href="#"></a>
                        <img src="../assets/images/media/0-6.jpg" alt="img" class="cover-image">
                    </div>
                    <div class="card-body p-4">
                        <div class="item7-card-desc d-flex mb-2">
                            <a href="#"><i class="fa fa-calendar-o ml-2"></i>Nov-19-2018</a>
                            <div class="mr-auto">
                                <a href="#"><i class="fa fa-comment-o text-muted ml-2"></i>8 Comments</a>
                            </div>
                        </div>
                        <a href="blog-details.html" class="text-dark">
                            <h3 class="font-weight-semibold">At vero accusamus et iusto</h3>
                        </a>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo
                            consequat </p>
                        <div class="d-flex align-items-center pt-2 mt-auto">
                            <img src="../assets/images/users/male/6.jpg" class="avatar brround avatar-md ml-3"
                                alt="avatar-img">
                            <div>
                                <a href="profile.html" class="text-default">Loyd Nolf</a>
                                <small class="d-block text-muted">15 days ago</small>
                            </div>
                            <div class="mr-auto text-muted">
                                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i
                                        class="fe fe-heart mr-1"></i></a>
                                <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i
                                        class="fa fa-thumbs-o-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Section-->

<!--Section-->
<section class="sptb">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>Download</h2>
            <span class="sectiontitle-design"><span class="icons"></span></span>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center text-wrap">
                    <div class="btn-list">
                        <a href="#" class="btn btn-primary btn-lg mb-sm-0"><i class="fa fa-apple fa-1x ml-2"></i> App
                            Store</a>
                        <a href="#" class="btn btn-secondary btn-lg mb-sm-0"><i class="fa fa-android fa-1x ml-2"></i>
                            Google Play</a>
                        <a href="#" class="btn btn-info btn-lg mb-0"><i class="fa fa-windows fa-1x ml-2"></i>
                            Windows</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Section-->