<div class="app-content my-3 my-md-5">
    <div class="side-app">
        <div class="banner-1 cover-image" style="background-image: url('../../../assets/images/tdawl.jpeg');"></div>
        <h3 class="text-right">{{'Services & Subscriptions'|translate}}</h3>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body text-center"
                        style="background-image: url('../../../assets/images/tdawl.jpeg'); width:100%;height:250px">
                    </div>
                    <div class="card-footer">
                        <div class="wideget-user-tab">
                            <div class="tab-menu-heading">
                                <div class="tabs-menu1">
                                    <ul class="nav">
                                        <li class=""><a href="#tab-51" class="active" data-toggle="tab">{{"educational courses"|translate}}</a></li>
                                        <li><a href="#tab-61" data-toggle="tab" class="">{{"private analytics"|translate}}</a></li> 
                                        <li><a href="#tab-71" data-toggle="tab" class="">{{"Automated Trading System"|translate}}</a></li> 
                                        <li><a href="#tab-81" data-toggle="tab" class="">{{"Deal copy service"|translate}}</a></li> 

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="border-0">
                            <div class="tab-content">

                                <div class="tab-pane active" id="tab-51">
                                     
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12">
                                            <div class=" mb-lg-0">
                                                <div class="">
                                                    <div class="item2-gl ">
                                                        <div class=" mb-0">
                                                            <div class="">
                                                                <div class="p-5 bg-white item2-gl-nav d-flex">
                                                                    <h3 class="mb-0 mt-2">{{"educational courses"|translate}}</h3> 
                                                                    <ul class="nav item2-gl-menu mr-auto">
                                                                        <li><a href="#tab-12" data-toggle="tab" class="active show" title="Grid"><i class="fa fa-th"></i></a></li>
                                                                        <li class=""><a href="#tab-11" class="" data-toggle="tab" title="List style"><i class="fa fa-list"></i></a></li>
                                                                    </ul>
                                                                    <!-- <div class="d-flex">
                                                                        <label class="ml-2 mt-1 mb-sm-1">Sort By:</label>
                                                                        <select name="item" class="form-control select-sm w-70">
                                                                            <option value="1">Latest</option>
                                                                            <option value="2">Oldest</option>
                                                                            <option value="3">Fees:Low-to-High</option>
                                                                            <option value="5">Fees:Hight-to-Low</option>
                                                                        </select>
                                                                    </div> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-content">
                                                            <!-- ~~~~~~~ROW~~~~~~ -->
                                                            <!-- <div class="tab-pane" id="tab-11">
                                                                <div class="card overflow-hidden">
                                                                    <div class="ribbon ribbon-top-right text-danger"><span class="bg-danger">Offer</span></div>
                                                                    <div class="d-md-flex">
                                                                        <div class="item-card9-img">
                                                                            <div class="item-card9-imgs">
                                                                                <a href="page-details.html"></a>
                                                                                <img src="../assets/images/media/9.jpg" alt="img" class="cover-image">
                                                                            </div>
                                                                            <div class="item-card9-icons">
                                                                                <a href="#" class="item-card9-icons1"> <i class="fa fa fa-heart-o"></i></a>
                                                                                <a href="#" class="item-card9-icons1 bg-black-trasparant"> <i class="fa fa fa-share-alt"></i></a>
                                                                            </div>
                                                                            <div class="item-overly-trans">
                                                                            <a href="page-details.html" class="bg-blue">Offline</a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card mb-0 border-0">
                                                                            <div class="card-body ">
                                                                                <div class="item-card9">
                                                                                    <a href="page-details.html" class="text-dark"><h3 class="font-weight-semibold mt-1"> Classes</h3></a>
                                                                                    <div class="mt-2 mb-2">
                                                                                        <a href="#" class="ml-4 float-right"><span class="text-muted fs-13"><i class="fa fa-cube ml-1"></i> Networking</span></a>
                                                                                        <a href="#" class="ml-4 float-right"><span class="text-muted fs-13"><i class="fa fa-cube ml-1"></i> Networking</span></a>
                                                                                        <a href="#" class="ml-4 float-right"><span class="text-muted fs-13"><i class="fa fa-cube ml-1"></i> Networking</span></a>

                                                                                        <a href="#" class="ml-4 float-right"><span class="text-muted fs-13"><i class="fa fa-user-o text-muted ml-1"></i> Lauren</span></a>
                                                                                        <a href="#" class="ml-4"><span class="text-muted fs-13"><i class="fa fa-clock-o text-muted ml-1"></i> May 11, 2019</span></a>
                                                                                    </div>
                                                                                    <p class="mb-0 leading-tight">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="card-footer pt-4 pb-4">
                                                                                <div class="item-card9-footer d-flex">
                                                                                    <div class="item-card9-cost">
                                                                                        <h4 class="text-dark font-weight-semibold mb-0 mt-0">$745.00<span class="strike-text ml-1 text-muted fs-16">$896.00</span></h4>
                                                                                    </div>
                                                                                    <div class="mr-auto">
                                                                                        <div class="rating-stars block">
                                                                                            <input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value"  value="3">
                                                                                            <div class="rating-stars-container">
                                                                                                <div class="rating-star sm">
                                                                                                    <i class="fa fa-star"></i>
                                                                                                </div>
                                                                                                <div class="rating-star sm">
                                                                                                    <i class="fa fa-star"></i>
                                                                                                </div>
                                                                                                <div class="rating-star sm">
                                                                                                    <i class="fa fa-star"></i>
                                                                                                </div>
                                                                                                <div class="rating-star sm">
                                                                                                    <i class="fa fa-star"></i>
                                                                                                </div>
                                                                                                <div class="rating-star sm">
                                                                                                    <i class="fa fa-star"></i>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                            
                                                            <!-- ~~~~~~~Columes~~~~~~ -->
                                                            <div class="tab-pane active" id="tab-12">
                                                                <div class="row">
                    
                                                                    <div class="col-lg-6 col-md-12 col-xl-4">
                                                                        <div class="card overflow-hidden">
                                                                            <div class="ribbon ribbon-top-right text-primary"><span class="bg-danger">Offer</span></div>
                                                                            <div class="item-card9-img">
                                                                                <div class="item-card9-imgs">
                                                                                    <a href="page-details.html"></a>
                                                                                    <img src="../assets/images/media/9.jpg" alt="img" class="cover-image">
                                                                                </div>
                                                                                <div class="item-card9-icons">
                                                                                    <a href="#" class="item-card9-icons1"> <i class="fa fa fa-heart-o"></i></a>
                                                                                    <a href="#" class="item-card9-icons1 bg-black-trasparant"> <i class="fa fa fa-share-alt"></i></a>
                                                                                </div>
                                                                                <div class="item-overly-trans">
                                                                                   <a href="page-details.html" class="bg-blue">حضور شخصي /ميتنج زوم</a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="card-body">
                                                                                <div class="item-card9">
                                                                                    <span class="item-card-badge m-2"><i class="fa fa-language text-muted ml-1"></i> اللغه</span>
                                                                                    <span class="item-card-badge m-2"><i class="fa fa-level-up text-muted ml-1"></i> المستوي (مبتدئ)</span>
                                                                                    <span class="item-card-badge m-2 rating-stars rating-stars-container"> 
                                                                                        
                                                                                            <i class="fa fa-star text-yellow"></i>
                                                                                            <i class="fa fa-star text-yellow"></i>
                                                                                            <i class="fa fa-star text-yellow"></i>
                                                                                            <i class="fa fa-star text-yellow"></i>
                                                                                            <i class="fa fa-star-half-o text-yellow"></i>
                                                                                        
                                                                                    </span>


                                                                                    <a href="page-details.html" class="text-dark mt-2"><h3 class="font-weight-semibold mt-2 mb-2">اسم الدوره</h3></a>
                                                                                    <div class="item-card9-desc mb-2">
                                                                                        <a href="#" class="ml-4 float-right"><span class="text-muted"><i class="fa fa-user-o text-muted ml-1"></i>    Lauren</span></a>
                                                                                        <a href="#" class="ml-4"><span class="text-muted"><i class="fa fa-clock-o text-muted ml-1"></i>  التوقيت may 11, 2019</span></a>
                                                                                        <a href="#" class="ml-4"><span class="text-muted"><i class="fa fa-clock-o text-muted ml-1"></i>   مدة المحاضره</span></a>
                                                                                    </div>
                                                                                    <p class="mb-0"> وصف الدوره وصف الدوره وصف الدوره وصف الدوره وصف الدوره وصف الدوره وصف الدوره</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="card-footer">
                                                                                <div class="item-card9-footer d-flex">
                                                                                    <div class="item-card9-cost">
                                                                                        <h4 class="text-dark font-weight-semibold mb-0 mt-0"> السعر$149.00<span class="strike-text ml-1 text-muted fs-16">$296.00</span></h4>
                                                                                    </div>
                                                                                    <div class="mr-auto">
                                                                                        <span  style="padding:5px;"class="btn btn-primary item-card-badge">سجل الان</span>
                                                                                        <span>وهنالك خيار سجل بالكورس عند الضغط عليه يتم ظهور نافدة تأكيد تحتوي علي كابتشا قوقل وعند التأكيد  48  ساعة الي 24تظهر له نافدة تخبره بـ انه قد تم تسجيله بشكل مبدئي وسوف يتم التواصل معه خلال ساعة عمل </span>
                                                                                    </div>
                                                                                    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                            <!-- ~~~~~~~~pagination~~~~~~~ -->
                                                    <!-- <div class="center-block text-center">
                                                        <ul class="pagination mb-5 mb-lg-0">
                                                            <li class="page-item page-prev disabled">
                                                                <a class="page-link" href="#" tabindex="-1">Prev</a>
                                                            </li>
                                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                            <li class="page-item page-next">
                                                                <a class="page-link" href="#">Next</a>
                                                            </li>
                                                        </ul>
                                                    </div> -->
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>




                                <div class="tab-pane" id="tab-61">
                                    <div  id="profile-log-switch">
                                        <div class="row">
                                            <div col-md-12>
                                                 <h3>{{"private analytics"|translate}}</h3>
                                                 <h3> 
                                                     سيتم شرحها في ميتنج علي زووووووووووم 
                                                 </h3>
                                            </div>
                                        </div>
                                    </div>
                                    
                                   
                                </div>


                                <div class="tab-pane" id="tab-71">
                                    <div  id="profile-log-switch">
                                        <div class="row">
                                            <div col-md-12>
                                                <h3>{{"Automated Trading System"|translate}}</h3>
                                                <h3> 
                                                    غير واضحه في ال DF
                                                </h3>
                                           </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title"></h3>
                                                </div>
                                                <div class="table-responsive">
                                                    
                                                </div>
                                                <!-- table-responsive -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="tab-81">
                                    <div class="wideget-user-followers">
															
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">اسم الباقه</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-4 description">
                                                    <p>الية الاشتراك في الباقه</p>
                                                    <p>نريد جعل الصفحة فيها اكثر من باقة وعند اختيارالًشترك نوع محدد من الباقة يظهر لي ف لوحة التحكم عند التاكيد 
 
                                                        عند الاشتراك يتم ظهور نافدة تأكيد تحتوي علي كابتشا قوقل وعند التأكيد تظهر له نافدة تخبره بـ انه قد تم   ساعة عمل 48  ساعة الي 24تسجيله بشكل مبدئي وسوف يتم التواصل معه خلال .
                                                         
                                                        وبعدها تظهر لي في لوحة التحكم في قسم الاشتراكات انه هنالك من قام بالتسجيل واقوم انا بالتواصل معه   ً لا يمكنه التسجيل الا اذا كان مسجل بالًوقع سابقا ً </p>
                                                </div>
                                                <h4 class="mb-4 font-weight-bold"> مميزات الباقه</h4>
                                                <div class="row">
                                                    <div class="col-xl-6 col-md-12">
                                                        <ul class="list-unstyled widget-spec mb-0">
                                                            <li class="">
                                                                <i class="fa fa-star text-muted w-5"></i>ميزه
                                                            </li>
                                                            <li class="">
                                                                <i class="fa fa-user text-muted w-5"></i> 100% job Assistance
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="icons">
                                                    <a href="#" class="btn btn-info mb-3 mb-xl-0 icons" data-toggle="modal" data-target="#report"><i class="fa fa-download" aria-hidden="true"></i>اشترك في الباقه</a>
                                                    <!-- <a href="#" class="btn btn-success icons"><i class="icon icon-heart  ml-1"></i> 678</a>
                                                    <a href="#" class="btn btn-warning icons"><i class="icon icon-printer  ml-1"></i> Print</a> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>