<!--Login-Section-->
<section class="sptb">
    <div class="container customerpage">
        <div class="row">
            <div class="single-page" >
                <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
                    <div class="wrapper wrapper2">
                        <form  [formGroup]="Userform" (submit)="onSubmit(Userform.value)" id="login" class="card-body" tabindex="500">
                            <h3>{{"LOGIN"|translate}}</h3>
                            <div class="mail">
                                <input formControlName="email" type="email" name="mail">
                                <label>{{"Email"|translate}}</label>
                            </div>
                            <div class="passwd">
                                <input formControlName="password" type="password" name="password">
                                <label>{{"Password"|translate}}</label>
                            </div>

                            <div class="submit">
                                <!-- [disabled]="Userform.invalid" -->
                                <button type="submit" class="btn btn-primary btn-block">{{"LOGIN"|translate}}</button>
                            </div>
                            <p class="mb-2"><a routerLink="/user/forgetpass">{{"Forgot Password"|translate}}</a></p>
                            <p class="text-dark mb-0">{{"Don't have account?"|translate}}<a routerLink="/user/register" class="text-primary ml-1">{{"Register"|translate}}</a></p>
                        </form>
                        <hr class="divider">
                        <div class="card-body">
                            <div class="text-center">
                                <div class="btn-group">
                                    <a href="https://www.facebook.com/" class="btn  ml-2 btn-icon brround">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a href="https://www.google.com/gmail/" class="btn  ml-2 btn-icon brround">
                                        <span class="fa fa-google"></span>
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a href="https://twitter.com/" class="btn  btn-icon brround">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/Login-Section-->
